[DEFAULT]
# Results folders
model_path = results/models/${folder_name}
train_path = results/train/${folder_name}
test_path = results/test/${folder_name}

# env name
env_name = Patrolling

# Network settings
repeat_times_inside_net = 2 
# 'N' in the PatrolNet
dim_af = 4      
# Last dimension in the agent feature. E.g. Agent feature dimension (B, k, 4), dim_af = 4
dim_cf = 4     
# Last dimension in the connectivity feature. E.g. Connectivity feature dimension (B, m, 32), dim_cf = 32
dim_tf = 3      
# Last dimension in the target feature. E.g. Target feature dimension (B, m, 3), dim_tf = 3
dim_unify = 16  
# 'd' in the ppt, i.e. unify all the different dimension to this dimension, so as to improve scalability
heads = 8      
# Number of heads in attention

# Env Settings
env_size0 = 1.0
env_size1 = 1.0

[single_proc_ppo]
folder_name = single_proc/PPO/exp1

# Env Settings
numAgents0 = 4
numAgents1 = 4
numTargets0 = 10
numTargets1 = 10
numNeighbors0 = 3
numNeighbors1 = 5

learning_rate = 1e-3
# obs_dim = 2
# act_dim = 1
# act_low = -1
# act_high = 1

gae_lambda = 1
gamma = 0.99
window_size = 50
batch_size = 256
max_episode_steps = 512
max_grad = 2
n_epochs = 10
entropy_coef = 0.01
value_coef = 0.5
surrogate_loss_clip = 0.2
